body
{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

*
{
    box-sizing: border-box;
    text-decoration: none;
    outline:0;
    border:0;
    list-style: none;
}

button,input,textarea,a
{
    padding: 10px;
}

header
{
    position: sticky;
    top:0;
    background-color: black;
    color:white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about
{
    padding: 2%;
    background-color: silver;
}
.about button
{
    background-color: black;
    color:white;
}
.contact
{
    padding: 2%;
    background-color: black;
    color:white;
}
.contact input
{
    margin-right:10px;
}
.contact button
{
    background-color: tomato;
    color:white;
}
.services
{
    padding: 2%;
    text-align: center;
    background-color: grey;
}
.services .flex
{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.services .flex .item
{
    background-color: white;
    width: 20%;
    margin:1%;
    padding: 1%;
    box-shadow: 0 10px 10px black;
}
.services .flex .item *
{
    display: block;
    margin:5px auto;
}
.services .flex .item button
{
    background-color: black;
    color:white;
    margin: 10px auto;
}

.team
{
    background-color: silver;
    padding: 2%;
    text-align: center;
}
.team .flex
{
    display: flex;
    justify-content: center;
}
.team .flex .item
{
    box-shadow: 0 10px 10px black;
    background-color: white;
    width: 21%;
    padding: 1%;
    margin:1%;
    line-height: 8px;
}
.team .flex .item img
{
    width: 100%;
}
.team .flex .item a
{
    padding: 10px;
    background-color: tomato;
    color:white;
    display: block;
}
.pricing
{
    text-align: center;
    background-color: grey;
    padding: 2%;
}
.pricing .flex
{
    display: flex;    
}
.pricing .flex .item
{
    width: 30.3%;
    background-color: white;
    margin:1.5%;
    box-shadow: 0 10px 10px black;
}
.pricing .flex .item .header
{
    background-color: black;
    color:white;
    padding:2%;
}
.pricing .flex .item .header h1
{
    margin:0;
}
.pricing .flex .item .body
{
    padding: 2%;
    background-color: #f1f1f1;
    line-height: 50px;
}
.pricing .flex .item .body big
{
    font-weight: bold;
    font-size: 200%;
}
.pricing .flex .item .footer
{
    padding: 2%;
    background-color: #333;
}
.pricing .flex .item .footer button
{
    background-color: black;
    color:white;
    padding: 10px 30px;
    border-radius: 100px;
}
.map
{
    padding: 2%;
}
.map img{
    width: 100%;
}
footer
{
    padding: 2%;
    background-color: black;
    color:white;
    text-align: center;

}
.auth
{
    background-color: black;
    color:white;
    padding: 2%;
    margin:5% auto;
    width: 30%;
    box-shadow: 0 10px 10px black;
}
.auth *
{
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
@media (max-width:500px)
{
    button,input,textarea,a
    {
        padding: 5px;
        font-size: 12px;
    }
    header
    {
        flex-flow: column;
    }
    .contact input
    {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .services .flex .item
    {
        width: 40%;
    }
    .team .flex 
    {
        flex-flow: column;
    }
    .team .flex .item
    {
        width: auto;
    }
    .pricing .flex
    {
        flex-flow: column;
    }
    .pricing .flex .item
    {
        width: auto;
    }
    .auth 
    {
        width: 80%;
    }
}